*{
    padding: 0;
    margin: 0;
}

html
{
    background-color: rgb(73, 73, 73);
}

.chatbox
{
    position: absolute;
    bottom: 0;
    margin: 1%;
}

.chatbox > input
{

}

.chatbox > button
{

}